doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title HNECT LOCATOR BOARD 
      link(rel='stylesheet' href='../css/style.css')
      script(src='../js/brains.js' defer='')
    body
      .layout
        #myForm.form-popup
          form.form-container
            h1#empId EMPLOYEE
            div(style='overflow:auto;')
            h2(id='' cloc='')
            label(hidden='') Location:
            p
              input#location(type='text' style='text-align: center;' hidden='' required='')
            .tab
              | SELECT LOCATION:
              div
                table#locationL
                  tr
                    ul.main-navigation
                      li#buttons
                        a(href='#') BME
                        ul#buttons
                          li(onclick='findvalue(this)')
                            a(href='#') BME
                          li(onclick='findvalue(this)')
                            a(href='#') ICU BME
                          li(onclick='findvalue(this)')
                            a(href='#') RNC BME
                      li#buttons(onclick='findvalue(this)')
                        a(href='#') HOME
                      li
                        a(href='#') JHH
                        ul
                          li
                            a(href='#') Level 3
                            ul#buttons
                              .ward2
                                each location in formLocations.jhhLevel3
                                  li(onclick='findvalue(this)')
                                    a(href='#')= location
                          li
                            a(href='#') Level 2
                            ul#buttons
                              .ward2
                                each location in formLocations.jhhLevel2
                                  li(onclick='findvalue(this)')
                                    a(href='#')= location
                          li
                            a(href='#') Level 1
                            ul#buttons
                              .ward2
                                each location in formLocations.jhhLevel1
                                  li(onclick='findvalue(this)')
                                    a(href='#')= location
                          li
                            a(href='#') Level 0
                            ul#buttons
                              .ward2
                                each location in formLocations.jhhLevel0
                                  li(onclick='findvalue(this)')
                                    a(href='#')= location
                          each location in formLocations.jhhOther
                            li#buttons(onclick='findvalue(this)')
                              a(href='#')= location 
                      li
                        a(href='#') HUNTER
                        ul#buttons
                          .ward
                            each location in formLocations.hunter
                              li(onclick='findvalue(this)')
                                a(href='#')= location
                      li
                        a(href='#') NEW ENGLAND
                        ul#buttons
                          .ward
                            each location in formLocations.newEngland
                              li(onclick='findvalue(this)')
                                a(href='#')= location                       
      
      block content